Source: BDSM-FETISH
Section: misc
Priority: extra
Maintainer: BDSM-FETISH <akira.takizawa@morningBDSM-FETISH.com>
Build-Depends: debhelper (>= 5),
	libminiupnpc-dev,
	libdb++-dev,
	libboost-system-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-thread-dev,
	qt5-default, qttools5-dev-tools,
	desktop-file-utils, 
Standards-Version: 3.8.3
Homepage: http://www.morningBDSM-FETISH.com/

Package: BDSM-FETISH
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BDSM-FETISH Wallet
